* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: hidden;
  position: relative;
}

.container {
  /* background-image: linear-gradient(to right, #800080, #ffc0cb); */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke !important;
  position: absolute;
  top: 0;
  z-index: 100;
}
